<li>
<div class="container">
    <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    
                    <!--<img id="card-image-top" src="https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg" alt="Card Image cap"/>-->
                    <img id="card-image-top" src="/public/uploads/employeeFiles/profilePictures/{{lowercaseUsername}}_profilePicture.jpeg" onerror="this.onerror=null;this.src='https://png.pngtree.com/element_our/20200609/ourmid/pngtree-children-s-software-programming-image_2230761.jpg';" alt="Card Image cap"/>
                    <div class="card-body">
                        <h2 class="card-title d-flex justify-content-center" style="font-weight: 625;">{{name.fullName}}</h2>
                        <h4 class="card-title d-flex justify-content-left" style="color: rgb(116, 116, 116); font-size: medium;">Phone Number: {{phoneNumber}}</h4>
                        <h4 class="card-title d-flex justify-content-left" style="color: rgb(116, 116, 116); font-size: medium;">About Me: {{aboutMe}}</h4>
                        <h5 class="card-subtitle d-flex justify-content-left" style="color: rgb(116, 116, 116); font-size: medium;">Contact Email: {{email}}</h5>
                        <button style="width: 218px; height: 65px; font-size:16px; margin-top: 10px;" onclick="document.location.href='/profile/user/{{_id}}'">View Profile of {{name.fullName}}</button>
                    </div>
                </div>
            </div>
    </div>
</div>
</li>


