<div class="container" id="searchContainer">
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-center">
        {{#if auth}}
        {{> navigationAuthPartial }}
        {{else}}
        {{> navigationUnauthPartial }}
        {{/if}}
</nav>

<script src="/public/js/util.js"></script>
<div id="searchResultsPage">
    <div id="searchBar">
        {{> generalSearchPartial }}
    </div>
    
   

    {{#if auth}}
    <div id="filteredSearch">
        {{> filteredSearchPartial }}
    </div>
    <div class="text-center">
    <button type="submit" onclick="searchToggle()" id="filteredSearchReveal">Filtered Search</button>      
    </div>
    {{else}}
    <div class="text-center">
        <button type="submit" onclick="document.location.href='/login'" id="loginRedirectSearch">Filtered Search</button>
        </div>
    {{/if}}

    </div>
    <div id="searchResults">
        {{#if isPost}}
            {{#if resultsFound}}
                <h2>Search Results</h2>
            {{else}}
                <p>No results found for given names or filters. Please try again</p>
            {{/if}}
        {{/if}}     
        <ul id="searchResultsExists">
        {{#if isFilter}}
            {{#each searchResults}}
                {{#if ../isUser}}
                    <!--<li><a href="/company/joblisting/{{_id}}">{{jobTitle}}</a></li>-->
                    {{> jobDetailsProfilePreviewPartial}}
                {{else}} 
                    {{> userResumeProfilePreviewPartial}}
                {{/if}}
            {{/each}}
        {{else}}
            {{#each searchResults}}
                {{#if ../isUser}}
                   {{> userProfilePreviewPartial}}
                {{else}} 
                    {{> companyProfilePreviewPartial}}
                {{/if}}
            {{/each}}
        {{/if}}
        </ul>   
    </div>
</div>

